@model Infrastructure.DTOs.StudentDTO
<head></head>
<body>
    
    <form method="post" asp-controller="Students" asp-action="AddStd">

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    First Name
                    <input asp-for=FirstName class="form-control" />
                </div>

                <div class="col-md-4">
                    Last Name
                    <input asp-for=LastName class="form-control" />
                </div>
                <div class="col-md-4">
                    Social Number
                    <input type="text" asp-for=NationalId class="form-control" maxlength="10" minlength="10" pattern="\d{10}" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    Gender
                    <select asp-for=Gender class="form-select">
                        <option value="true">Male</option>
                        <option value="false">Female</option>
                    </select>
                </div>

                <div class="col-md-4">
                    Birth Place
                    <select asp-for=Governorate class="form-select" asp-items="@(new SelectList(ViewBag.Governorates,"Id","Name"))">
                        <option value="null">Select a place</option>
                       
                    </select>
                </div>

                <div class="col-md-4">
                    Birth Date
                    <input asp-for=BirthDate class="form-control" type="date" />
                </div>

            </div>

          <div class="row">
             
              <div class="col-md-4">
                  <input type="submit" class="btn btn-outline-info" />

                  <a class="btn btn-outline-danger">Cancel</a>

              </div>
          </div>


        </div>
    </form>
    @if ( true)
    {
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary">Save changes</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <script>
            $(document).ready(function () {
                $('#myModal').modal('show'); // 👈 show the modal when ViewBag.flag == true
            });
        </script>
    }


    
</body>